*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
}
a {
  color: inherit;
}
body {
  font-family: "Quicksand", sans-serif;
  font-family: "Rubik", sans-serif;
}